<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/styleMainPage.css">
    <script src="https://kit.fontawesome.com/a80193e2f6.js" crossorigin="anonymous"></script>
    <title>MAIN PAGE</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#" class="buttonMenu">profile</a>
                </li>
                <li>
                    <i class="fa fa-gears"></i>
                    <a href="#" class="buttonMenu">manage quizzes</a>
                </li>
                <li>
                    <i class="fas fa-users"></i>
                    <a href="#" class="buttonMenu">join group</a>
                </li>
                <li>
                    <i class="fas fa-bell"></i>
                    <a href="#" class="buttonMenu">notifications</a>
                </li>
            </ul>   
        </nav>
        <main>
            <header>
                <div class="search-bar">                  
                    <form>
                        <i class="fab fa-searchengin"></i>
                        <input placeholder="search quizess">
                    </form>
                </div>
                <div class="space"></div>
                <div class="headerButton">
                <a href="#" class="add-quiz">
                    <i class="fas fa-plus"></i>
                    create quiz
                </a>
                </div>
            
                <div class="headerButton">
                <a href="#" class="log-out">
                    <i class="fas fa-arrow-left"></i>
                    logout
                </a>
                </div>

            </header>
            <section class = quizess>
                <div>quiz 1</div>
                <div>quiz 2</div>
                <div>quiz 3</div>
            </section>
        </main>

    </div>
</body>